# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    strategy:
      matrix:
        arch:
            - 'import <nixpkgs> {}'
            - 'import <nixpkgs> { crossSystem.config = "aarch64-unknown-linux-gnu"; }'
        hub: [Github, Docker]
        include:
        - hub: Github
          registry: docker.pkg.github.com
          username: ${{ github.actor }}
          password: test123
        - hub: Docker
          registry: docker.io
          username: not-zeratax
          password: secret123

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Set env
        run: |
          echo "VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
          echo "REPO=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV
          
      - name: test different variable styles
        run: |
          echo $GITHUB_REPOSITORY
          echo $REPO
          echo ${{ github.repository }}

      # Runs a set of commands using the runners shell
      - name: using env arg
        env:
          REGISTERY: ${{ matrix.registry }}
          TAG_NAME: $REGISTERY/${{ github.repository }}/matrix-registration-image:$VERSION
        run: |
          echo $TAG_NAME
  
      # Runs a set of commands using the runners shell
      - name: just using run
        run: |
          TAG_NAME=${{ matrix.registry }}/$GITHUB_REPOSITORY/matrix-registration-image:$VERSION

          echo $TAG_NAME
          
      - name: matrix test ${{ matrix.hub }}
        run: |
          echo "running nix-build ${{ matrix.arch }} uploading as ${{ matrix.username }}"
    
